body{
	background-color: #3D2645;
}
.table{
	padding-bottom: 1em;
	margin-bottom: 0;
}
h1{
	margin-bottom: 20px;
}
.container{
	background-color: #F0EFF4;
	padding-top: 30px;
}

.navigate{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: hsl(285, 30%, 80%);
}

.b-popup{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 3;
}
.b-popup .b-popup-content{
	margin: 7% auto 0 auto;
    width: 50%;
    padding: 10px;
    background-color: #F0EFF4;
    box-shadow: 0px 0px 10px #000;
    z-index: 3;
}

#popup_form_content{
	width: 20%;
}

#add_form{
	padding: 20px;
}

#add_form input{
	display: block;
	width: 20em;
}

#btn_back{
	margin-top: 20px;
	margin-bottom: 20px;
}
/*table{
	border-collapse: collapse;
	float: left;
	margin-left: 30px;
}

table tr td{
	border: 1px solid black;
	padding: 10px;
}

thead{
	font-weight: bold;
}

#add_form{
	padding: 10px;
	border: 1px solid black;
	float: left;
	margin-left: 30px;
	font-weight: bold;
	display: none;
}

#search_form{
	float: right;
	margin-right: 300px;
}

#btn_search{
	float: right;
}

#info_table{
	display: none;
	max-width: 400px;
}

input{
	width: 100%;
}

#btn_show_add{
	float: left;
}

.disable{

}

*/